<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ana Sayfa</title>
  </head>
  <body>
    <!-- {% if m %}
        <p>{{m}}</p>
    {% else %}
        <p>Mesaj gönderilmedi.</p>
    {% endif %}
    <ul>
      {% for number in numbers %}
      <li>{{number}}</li>
      {% endfor%}
    </ul> -->

    <form action="/toplam" method="post"> 
    <input type="number" name="number1"> <br>
    <input type="number" name="number2"> <br>
    <button type="submit"> Gönder </button>
    </form>

  </body>
</html>
